<h1>Hello HackaLearn August!!</h1>

<input #nameInput>
<button (click)="getHello(nameInput.value)">Get Hello Message</button>

<h2>{{ (helloMessage$ | async)?.responseMessage }}</h2>

<a href="/.auth/login/github">Login with GitHub</a> |
<a href="/.auth/login/twitter">Login with Twitter</a> |
<a href="/.auth/login/aad">Login with AAD</a>

<br>

<h2>User details from API</h2>

<div *ngIf="(helloMessage$ | async)?.userDetails as user">
  <h3>user name: {{ user.userDetails }} </h3>
  <div>
    {{ user | json }}
  </div>
</div>

<!-- <iframe src="/.auth/me"></iframe> -->

<h2>User details from .auth/me</h2>

<div *ngIf="clientPrincipal$ | async as user">
  <h3>user name: {{ user.clientPrincipal.userDetails }} </h3>
  <div>
    {{ user | json }}
  </div>
</div>

<a href="/.auth/logout">Log out</a>
